<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--Google font for my name, footer and standard text-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Parisienne|Montez|Poly' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='images/favicon.ico'/>
    <title>Portfolio - Cynthia O'Donnell</title>

    <link rel="stylesheet" href="/stylesheets/vendor/materialize/materialize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/reload-client.js"></script>

    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>

  </head>
  <body>

    <div class='container'>
      <div class='row'>
        <div class='col m8 offset-m2'>
          <h1 id='name' class='cyan-text text-darken-1 center-align'>Cynthia O'Donnell</h1>
          <h5 id='title' class='grey-text text-darken-2 center-align'>JavaScript Web Developer</h5>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
    <ul id="nav-mobile" class="side-nav fixed">
      <li class="logo"></li>
      <li class="bold">Contact Me</li>
      <li><a target="_blank" href="https://www.github.com/MimiBambino" class="icon icon-github"></a></li>
      <li><a target="_blank" href="http://www.linkedin.com/pub/cynthia-o-donnell/a2/719/7a0/" class="icon icon-linkedin"></a></li>
      <li><a target="_blank" href="http://www.twitter.com/mimibambino" class="icon icon-twitter"></a></li>
      <li><a href="mailto:mimibambino@gmail.com" class="icon icon-mail"></a></li>
      <li><a target="_blank" href="http://www.mimibambino.com" class="icon icon-link"></a></li>
    </ul>



    <p>Code available at <a target='_blank' href='https://github.com/MimiBambino/UdacityMockup'><img class='github' src='images/GitHub.png' alt='GitHub'></a></span>
    </p>
    <p>&copy; Cynthia O'Donnell 2015</p>
  </body>
</html>