/*  Icons */

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?e83dlr');
  src:url('fonts/icomoon.eot?#iefixe83dlr') format('embedded-opentype'),
    url('fonts/icomoon.woff?e83dlr') format('woff'),
    url('fonts/icomoon.ttf?e83dlr') format('truetype'),
    url('fonts/icomoon.svg?e83dlr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 1.5em;
}

.icon-link:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e602";
}
.icon-linkedin:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e604";
}
.icon-mail {
  padding-top: 5px;
}

html {
  background-color: #eee;
}

#name {
  font-family: Montez, cursive;
  font-size: 6em;
}

#title {
  font-family: Lato;
  font-weight: 100;
  font-size 0.2em;
  margin-top: 50px;
}

.top-nav {
  height: 140px;
}

#contact {
  width: 80px;
}

#contact:hover {
  width: 80px;
}

ul.side-nav.fixed {
  padding-top: 180px;
}

ul.side-nav.fixed a {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  font-size: 30px;
}

ul.side-nav a:hover {
  background-color: #1a237e;
  width: 90px;
}

.portfolio {
  height: 470px;
  padding-bottom: 10px;
}

.github {
  color: white;
}

.image_caption a {
  color: #1a237e;
}

.description {
  padding-to
}

.intro {
  margin-top: 30px;
}

.intro_caption {
  font-size: 1.2em;
}

.intro_caption p {
  /*text-indent: 2.5em;*/
}

.welcome {
  font-size: 2.2em;
  position: relative;
  left: 30%;
  padding-left: 3%;
}

@media screen and (max-width: 1415px) {
  #title {
    margin-top: 0;
  }
}

@media screen and (max-width: 1260px) {
  #name {
  font-size: 5em;
  }
  #title {
    margin-top: 0;
  }
}

@media screen and (max-width: 1060px) {
  #name {
  font-size: 4.5em;
  }
  .portfolio {
    height: 460px;
  }
}

@media screen and (max-width: 993px) {
  .welcome {
    left: 50%;
    padding-left: 0;
  }
}

@media screen and (max-width: 750px) {
  #name {
    font-size: 4em;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    height: 480px;
  }
}