/*  Icons */

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?e83dlr');
  src:url('fonts/icomoon.eot?#iefixe83dlr') format('embedded-opentype'),
    url('fonts/icomoon.woff?e83dlr') format('woff'),
    url('fonts/icomoon.ttf?e83dlr') format('truetype'),
    url('fonts/icomoon.svg?e83dlr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 1.5em;
}

.icon-link:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e602";
}
.icon-linkedin:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e604";
}
.icon-mail {
  padding-top: 5px;
}

#name {
  font-family: Montez, cursive;
  font-size: 6em;
}

#title {
  font-family: Lato;
  font-weight: 100;
  font-size 0.2em;
  margin-top: 50px;
}

.top-nav {
  height: 140px;
}

#contact {
  width: 80px;
}

ul.side-nav.fixed {
  padding-top: 180px;
}
ul.side-nav.fixed a {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  font-size: 30px;
}

.github {
  color: white;
}

.image_caption a{
  color: #1a237e;
}
